{% extends 'base.html' %}

{% block title %}Registrar Nuevo Usuario{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Registrar Nuevo Ejecutivo</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Registrar Usuario</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}