 {% extends 'base.html' %}

{% block title %}Actualizar Ticket #{{ ticket.id }}{% endblock %} {% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Actualizando Ticket: {{ ticket.titulo }}</h3> </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'ticket-detail' ticket.pk %}" class="btn btn-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}