{% extends 'base.html' %}

{% block title %}Crear Nuevo Ticket{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Registrar Nuevo Ticket</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'ticket-list' %}" class="btn btn-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-success">Guardar Ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}